* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.wrapper {
    position: absolute;
    width: 60vw;
    height: 85vh;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideInleft {
    from {
        transform: translateX(-15vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInright {
    from {
        transform: translateX(15vw);
    }

    to {
        transform: translateX(0);
    }
}


.wrapper .form-box {
    width: 50%;
    padding: 30px;
    height: 100%;
    animation: slideInleft 2.5s ease-in 0s 1 normal none;
    border: 2px solid var(--clr-body-bg);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.sidebar h2 {
    color: white;
    margin: 80px 0;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--clr-body-bg);
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 1em;
    color: var(--clr-body-bg);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 22px 15px 0 0px;
}

.btn {
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: var(--clr-body-bg);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1em;
}

select {
    border: none;
    background-color: transparent;
    font-size: 120%;
    width: 100%;
    border-bottom: 2px var(--clr-body-bg) solid;
}

.sidebar {
    background-color: var(--clr-body-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 7vw;
    height: 100vh;
    padding: 10px 0;
    transition: all 0.5s ease;
    font-size: 14px;

}

.profile {
    background-color: var(--clr-body-bg);
    margin-bottom: 40px;
    text-align: center;
}

.whole {
    display: flex;
    color: var(--clr-body-bg);
    min-height: 90vh;
}

.sidebar h2 {
    color: white;
    margin-top: 80px;
}

.sidebar h4 {
    color: white;
    margin-bottom: 80px;
}

.sidebar ul li a {
    background-color: var(--clr-body-bg);
    display: block;
    padding: 5vh 10%;
    font-size: 2em;
    position: relative;
    color: white;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    color: var(--clr-body-bg);
    background: var(--clr-bg);
}

.sidebar ul li a:hover:before,
.sidebar ul li a:active:before {
    display: block;
}

.toggle {
    display: none;
}

.wrapper .sidespace {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-body-bg);
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    animation: slideInright 2.5s ease-in 0s 1 normal none;
    z-index: 1;
}

.sidespace .sidespace-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

h4 {
    color: var(--clr-body-bg);
    position: absolute;
    top: 30px;
    right: 20px;
    border: 2px solid var(--clr-body-bg);
    padding: 10px;
    font-size: 1.1em;
    border-radius: 15px;
}


@media(max-width: 800px) {

    .wrapper .sidespace {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        animation: slideInright 2.5s ease-in 0s 1 normal none;
    }

    .sidebar h2 {
        color: white;
        margin: 20px 0;
    }

    .wrapper .form-box {
        width: 100%;
        padding: 0 10px;
        height: 100%;
        animation: slideInleft 2.5s ease-in 0s 1 normal none;
        border: 2px solid var(--clr-body-bg);
        border-radius: 15px;
        z-index: -1;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        top: 150px;
    }

    .profile h2 {
        margin-top: 15px;
    }

    .profile h4 {
        color: white;
        margin-bottom: 25px;
    }

    .mainpart {
        width: 95vw;
        padding: 10px 20px;
        position: relative;
        z-index: -1;
    }

    h4 {
        color: var(--clr-body-bg);
        position: absolute;
        top: 80px;
        right: 20px;
        border: 2px solid var(--clr-body-bg);
        padding: 10px;
        font-size: 1.1em;
        border-radius: 15px;
    }

    .profile {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .sidebar {
        background-color: transparent;
    }

    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding-right: 30px;
        color: white;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top: 5px;
        width: 100%;
        height: 2px;
        background: white;
        z-index: 1;
        box-shadow: 0 10px 0 white;
        transition: 0.5s;
    }

    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: white;
        z-index: 1;
        transition: 0.5s;
    }

    .sidebar .profile {
        position: fixed;
        padding: 5px 45px;
    }

    .profile ul {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 90px;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }

    .profile.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 10px;
    }

    .profile.active ul li a {
        display: inline-block;
        font-size: 1.2em;
    }

    .sidebar ul li a {
        color: var(--clr-body-bg);
        padding: 4vh 45%;
        background-color: white;
        position: relative;
        margin: 0;
        text-decoration: none;
        color: var(--clr-body-bg);
        letter-spacing: 2px;
        font-weight: 300;
        transition: 0.6s;
        z-index: 1;
    }

    .sidebar ul li a:hover,
    .sidebar ul li a:active {
        color: white;
        background: var(--clr-body-bg);
    }

    .sidebar ul li a:hover:before,
    .sidebar ul li a:active:before {
        display: block;
        background: var(--clr-bg);
    }

}