:root {
    --primary-clr: #501B1D;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.login_header {
    background-color: var(--primary-clr);
    width: 100%;
    height: 80px;
    padding: 0 2%;
}

header {
    background-color: var(--primary-clr);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

body {
    background: url(../images/signPic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

.login_header a {
    text-decoration: none;
}


.wrapper {
    position: absolute;
    width: 420px;
    height: 740px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 50px;
}

.form-box h2 {
    font-size: 1.6em;
    color: var(--primary-clr);
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    padding: 22px 15px 0 0px;
}

.btn {
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: var(--primary-clr);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1em;
}

select {
    border: none;
    background-color: transparent;
    font-size: 120%;
    width: 100%;
    border-bottom: 2px black solid;
}